#files
/data/time_series_60min_singleindex.csv
/plots/
.snakemake/
.vscode/
.ipynb_checkpoints/
/data/shapefile
notebooks/__pycache__
/data/NUTS_RG_03M_2010_4326_LEVL_3.geojson
/data/load_profile.csv
.Rhistory
